@use "sass:map";
@use "variables" as *;

@mixin respond($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin button-style($bg, $text: white) {
  background: $bg;
  color: $text;
  padding: 1rem 2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;

  &:hover {
    background: hover-shade($bg);
  }
}
