@use "../abstracts" as *;

.hero {
  background: linear-gradient(135deg, $primary-color, $secondary-color);
  color: $white;
  padding: 6rem 2rem;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @include respond(md) {
      font-size: 4rem;
    }
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .btn {
    @include button-style($white, $primary-color);
  }
}
